<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>224080722744-r5fdbthp8stpusl2amk61sd88unisla9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224080722744-r5fdbthp8stpusl2amk61sd88unisla9</string>
	<key>API_KEY</key>
	<string>AIzaSyAKLRY3tucOStm6wqQzDtIdt47X8Znd1po</string>
	<key>GCM_SENDER_ID</key>
	<string>224080722744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phoenixfitnesshub.Timer</string>
	<key>PROJECT_ID</key>
	<string>letsgo-f13f8</string>
	<key>STORAGE_BUCKET</key>
	<string>letsgo-f13f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:224080722744:ios:783c8855d62ebe17</string>
	<key>DATABASE_URL</key>
	<string>https://letsgo-f13f8.firebaseio.com</string>
</dict>
</plist>